<div class="d-flex align-items-center justify-content-center bg-image-1 text-center vh-100">
  <div class="container card pb-5 pt-4">
<h1 class="mb-5 pb-4 border-bottom">New Entry</h1>

<%= render "form", entry: @entry %>
</div>
    </div>